.movies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 70px;
    width: 90%;
}
.movies .movie{
    width:40%;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    font-weight: 300;
    padding: 20px;
    border-radius : 4px;
    box-shadow: 0 13px 27px -5px rgba(50 , 50 , 93, 0.25);
}

.movie img{  
    max-width: 180px;
    width: 100%;
    margin-right: 30px;
    position: relative;
    top: -50px;
    border-radius : 4px;
    box-shadow: 0 13px 27px -5px rgba(50 , 50 , 93, 0.25);

}

.movie h3, h5{
    font-weight: 300;
}

.movie h3{
    margin-bottom: 5px;
    font-size: 24px;
}

.movie .movie_year, .movie_genres, .movie_summary{
    opacity: 0.5;
}

.movie .movie_genres{
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
}

.movie_genres li{
    margin-right: 10px;
    font-size: 14px;
}